body{
    margin: 0;
    font-family: Monserrat, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333333;
    box-sizing: border-box;
    box-sizing: inherit;
 }
.main-container{
    align-items: center;
    width: 100%;
    max-width: 750px;
}
.to-do{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.title{
    font-family: Raleway;
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
    margin-bottom: 3rem;
}
.tabs-container{
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1.5rem;
    cursor: pointer;
 }
.to-do-tabs{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #BDBDBD;
    list-style: none;
    width: 80%;
}
.to-do-tab{
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1rem;
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;   
    display: block;
    position: relative;
}
.active-tab::before{
    content:"";
    background-color: #2F80ED;
    width: 50%;
    height: 6px;
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
}
.form{
    width: 95%;
    display: flex;
    justify-content: center;
 }
.input{
    border: 1px solid #BDBDBD;
    border-radius: 12px;
    width: 70%;
    height: 56px;
    margin-right: 1.2rem;
    padding-left: 1rem;
 }
.submit{
    padding: 1rem 2.2rem;
    background-color: #2F80ED;
    border-radius: 1rem;
    border: none;
    color: white;
    cursor: pointer;
}
.tasks{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
    padding-left: 0;
    list-style-type: none;
}
.task-input{
    appearance: none;
    min-width: 1.2rem;
    height: 1.2rem;
    border: 2px solid #828282;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
 }
.task-input:checked{
    border: none;
    background-color: #2F80ED;
 }
.task-input:checked + .task-label{
     text-decoration: line-through;
 }

.task-checkbox{
    display: flex;
 }
 .delete-all-btn{
    color: #fff;
    background-color: red;
    padding: 0.2rem 2.1rem;
    border-radius: 0.3rem;
    align-self: flex-end;
    cursor: pointer;
}
.delete-btn{
    align-self: flex-end;
    margin-right: 0.5rem;
    font-size: 1.5rem;
 }
 .task{
    display: flex;
    justify-content: space-between;
    margin-top: 0.75rem;
 }
 .hidden{
    visibility: hidden;
 }


